@import "tailwindcss";
@import "tailwind-animations";
@import "./utilities.css";
@import "./header.css";
@import "./home.css";
@import "./servicio.css";
@import "./eventos.css";
@import "./producciones.css";
@import "./nosotros.css";
@import "./contacto.css";
@import "./ContactoSection.css";
@import "./footer.css";


:root {
  --font-primary: "ITC Eras", sans-serif;
  --font-secondary: "Bebas Neue", sans-serif;
  --color-primary: #59a1dc;
}

@font-face {
  font-family: "Bebas Neue";
  src: url("/fonts/Bebas Neue/BebasNeue-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "ITC Eras";
  src: url("/fonts/itc-eras-ultra/ITC Eras Light Regular.otf") format("opentype");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "ITC Eras";
  src: url("/fonts/itc-eras-ultra/ITC Eras Book Regular.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "ITC Eras";
  src: url("/fonts/itc-eras-ultra/ITC Eras Medium.otf") format("opentype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "ITC Eras";
  src: url("/fonts/itc-eras-ultra/ITC Eras Demi Regular.otf") format("opentype");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "ITC Eras";
  src: url("/fonts/itc-eras-ultra/ITC Eras Bold.otf") format("opentype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "ITC Eras";
  src: url("/fonts/itc-eras-ultra/ITC Eras Ultra Regular.otf") format("opentype");
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

html,
body {
  margin: 0;
  width: 100%;
  height: 100%;
}

body {
  font-family: var(--font-primary);
}
