@utility font-primary {
  font-family: var(--font-primary);
}

@utility font-secondary {
  font-family: var(--font-secondary);
}

@utility text-primary {
  color: var(--color-primary);
}

@utility bg-primary {
  background-color: var(--color-primary);
}

