---
import NewsletterSection from "./NewsletterSection.astro";
import NewsletterForm from "./NewsletterForm";
import cdemLogo from "../assets/cdemLogo.png";
---


<footer id="contacto" class="site-footer">
  <div class="site-footer__inner">
    <div class="site-footer__brand">
      <a href="/"
        ><img src={cdemLogo.src} alt="CDEM" class="site-footer__logo" /></a
      >
    </div>
    <div class="site-footer__links">
      <p class="site-footer__link">Contacto</p>
      <p class="site-footer__link">Aviso legal</p>
      <p class="site-footer__link">Política de cookies</p>
      <p class="site-footer__link">Política de privacidad</p>
    </div>
    <div class="site-footer__social">
      <a href="#" aria-label="Instagram" class="site-footer__social-link"
        ><img class="site-footer__social-icon" src="/rrss-ig.png" /></a
      >
      <a href="#" aria-label="LinkedIn" class="site-footer__social-link"
        ><img class="site-footer__social-icon" src="/rrss-linke.png" /></a
      >
      <a href="#" aria-label="Facebook" class="site-footer__social-link"
        ><img class="site-footer__social-icon" src="/rrss-facebook.png" /></a
      >
    </div>

    <div class="site-footer__newsletter">
      <h2 class="site-footer__newsletter-title">
        Suscríbete a nuestra newsletter
      </h2>
      <div class="site-footer__form">
        <NewsletterForm client:load />
      </div>
    </div>
  </div>
  
  <div class="site-footer__bottom">
	<p class="site-footer__bottom-text">
	  Todos los derechos reservados {new Date().getFullYear()} CDEM Creación y Diseño
	  de Eventos Musicales
	</p>
  </div>
</footer>
